<h1>Listing photos</h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
  <% end %>
</div>

<br clear="all" />

<%= form_for Photo.new do |f| %>
  <%= f.label :image, "Upload photos:" %>
  <input id="photo_image" multiple="multiple" name="photo[image]" type="file" />
<% end %>
