<h1>Listing photos</h1>

<div id="photos">
  <% @photos.each do |photo| %>
    <%= render photo %>
  <% end %>
</div>

<br clear="all" />

<%= form_for Photo.new do |f| %>
  <%= f.label :image, "Upload photos:" %>
  <input id="photo_image" multiple="multiple" name="photo[image]" type="file" />
<% end %>

<div id="dropzone" class="fade well">Drop files here</div>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%;"></div></div>
</div>
</script>
